.item-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  .title {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;

    @media screen and (max-width: 640px) and (min-width: 320px) {
      font-size: 0.9rem;
    }
  }

  .github-link {
    margin-top: -30px;
  }

  .thumbnail {
    box-shadow: 1px 1px 6px #eee;
    transition: ease-in-out 300ms;
    max-width: 550px;
    margin: 0 25px;

    @media screen and (max-width: 640px) and (min-width: 320px) {
      max-width: 235px;
    }

    &:hover {
      transform: scale(1.05);
    }
  }
}
