$secondary: #2f2f2f;

.bio-wrapper {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .bio-title {
    font-size: 2.5rem;

    @media screen and (max-width: 640px) and (min-width: 320px) {
      font-size: 1.4rem;
      margin-top: -10px;
    }
  }
  .bio-img {
    width: 165px;
    border-radius: 50%;
    box-shadow: 2px 2px 3px rgb(141, 141, 141);

    @media screen and (max-width: 640px) and (min-width: 320px) {
      width: 100px;
    }
  }

  .bio-text {
    text-align: justify;
    font-size: 1.3rem;
    max-width: 750px;
    color: $secondary;

    @media screen and (max-width: 640px) and (min-width: 320px) {
      font-size: 0.95rem;
      padding: 0 30px;
    }

    .link {
      color: $secondary;

      &:link {
        color: $secondary;
        text-decoration: none;
      }
    }
  }
}
