$primary: #000;
$secondary: #2f2f2f;

.container-wrapper {
  padding: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .section-title {
    margin-top: -25px;
    text-align: justify;
    max-width: 850px;
    font-size: 3rem;
  }

  .section-img-wrapper {
    .section-img {
      margin-top: -35px;

      width: 175px;
      border-radius: 50%;
      box-shadow: 2px 1px 3px rgb(141, 141, 141);
    }
  }

  .text {
    text-align: justify;
    font-size: 1.5rem;
    max-width: 750px;
    color: $secondary;
  }

  .mail {
    margin-top: -50px;
    font-size: 2.5rem;
  }
}
