$secondary: #2f2f2f;

.social-wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  .social-title {
    text-align: center;
  }
  .social-text {
  }
  .socialicons-wrapper {
    margin-top: 155px;
    display: flex;
    min-width: 400px;
    margin: 0 auto;
    justify-content: space-evenly;
    font-size: 5.5rem;
    flex-wrap: no-wrap;

    .icon {
      margin: 0 5px;
      color: $secondary;
    }
  }
}
